﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")   
    @Scripts.Render("~/bundles/bootstrap")
    

    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Вход", "Login", "Auth", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Регистрация", "Register", "Auth", new { area = "" }, new { @class = "navbar-brand" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(User.Identity.Name, "Index", "PlayerProfile", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Играть", "Index", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Выход", "Logout", "Auth", new { area = "" }, new { @class = "navbar-brand" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>